.post-item{
  /* margin: 0  5%; */
}

.posts-container{
  padding: 3%;
  padding-bottom: 1%;
}

.reject-post{
  margin-left: 2%;
  background: rgb(255, 0, 0);
}

.accept-post{
  background: green;
}

.post-form{
  display: inline;
}

.login-area{
  background: rgb(198, 244, 162);
  margin-bottom: 10%;
  margin-right: 4%;
  margin-left: auto;
  width: 40%;
}
.addform{
  background-color: antiquewhite;
  color: black;
}